<!DOCTYPE html>
<html>
<head>
  <title>Games</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

    <div class="navbar">
    	<div class="navbar-inner">
    		<ul class="nav">
    			<li class="active"><a href='<%= root_path %>'>Games on Rails</a></li>
    			<li <% if params[:controller] == "main" and params[:action] == "about" %>
    				class="active"
    				<% end %>
    			>
    				<a href='<%= about_path %>'>About Us</a></li>
    			<li <% if params[:controller] == "main" and params[:action] == "how_it_works" %>
    				class="active"
    				<% end %>
    			>
    				<a href='<%= how_it_works_path %>'>How It Works</a></li>
    		</ul>
    	</div>
    </div>

	<%= yield %>

</div>

</body>
</html>
