<div class='container'>
	<h1>Welcome to Rock, Paper, Scissors Game</h1>

	<h4>Pick your weapon:</h4>

	<a href="<%= rock_paper_scissor_path( 1 ) %>">
	<img src="<%= image_path("rock_paper_scissors/rock.jpeg") %>">
	</a>

	<a href="<%= rock_paper_scissor_path( 2 ) %>">
	<img src="<%= image_path("rock_paper_scissors/paper.jpeg") %>">
	</a>

	<a href="<%= rock_paper_scissor_path( 3 ) %>">
	<img src="<%= image_path("rock_paper_scissors/scissors.jpeg") %>">
	</a>


</div>